{# Template for generating a message when application is about to be ran. #}        

Your analysis will begin automatically.
* Press CTRL-C to exit
* Input parameters will be read from: {{input_file}}
* Job name: {{job_name}}

