{# Template for generating an error message when uploading to Google Earth was unsuccessful. #}        

{{error_message}}
  [ERROR] There was a problem uploading file to Google Earth Engine.
          See {{log_file}} for details.

{{thanks_message}}
