{# Template for generating an error message when previous analysis got
   interrupted. #}        


  Oops! Your Google Earth Engine Asset Folder {{asset_folder}} already contains some
        files. It looks like a previous analysis was interrupted and did
        not complete

        If you choose to continue, any existing tasks (with a description
        starting '{{app_name}}-X' will be cancelled and the contents of Asset Folder
        {{asset_folder}} will be deleted.

        You will be asked to confirm that you understand this msg and then
        asked if you want to continue...

