{# Template for generating an error message when calculation/wait time had been exceeded #}

  [WARNING] Analysis wait time limit exceeded. Cancelling all unfinished
            tasks.
            Active analysis ids: {{current_active_analyses | join(', ')}})
