{# Template for generating an error message when internet connection
   had been interrupted #}

{{error_message}}
  [ERROR] No internet connection

  Please connect to the internet and try again.

{{thanks_message}}
