{# Template for generating an error message when invalid fields
   have been found in the input file. #}     

{{error_message}}
  [ERROR] Input file contains errors.

  Please fix the following issues: {{ issues | join(', ') }}

{{thanks_message}}
