{# Template for generating an error message when folder to be created already exists #}

{{error_message}}
  [ERROR] Folder {{folder_path}} already exists. Please fix this and try again.

{{thanks_message}}
