{# Template for generating an error message when another analysis
   has been found running. #}        

  Oops! Your Google Earth Engine Asset Task List already contains tasks.
        It looks like another analysis is already running.

        If you choose to continue, any existing tasks (with a description")
        starting '{{app_name}}-X' will be cancelled and the contents of Asset Folder.
        {{asset_folder}} will be deleted.

        You will be asked to confirm that you understand this message and then")
        asked if you want to continue...

