{# Template for generating an error message when output file could not
   be loaded. #}
    
{{error_message}}
  [ERROR] There was a problem loading input file {{input_file_path}}

  Please see {{log_file}} for further details.

{{thanks_message}}
