{# Template for generating a warning message when calculation step is skipped. #}        

  [WARNING] Application encountered an problem and will skip this step.
  [WARNING] Check {{log_file}} for further details.

